<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-badge color="success">{{correctAnswers}}</ion-badge>
    <ion-title>MAP</ion-title>
  </ion-toolbar>

</ion-header>

<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>MENU</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item menu-close href="#/home" (click)="goToHome()">Home </ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>

<ion-content fullscreen>
  <div id="mapId">
  </div>
      <ion-button expand="block" shape="round" (click)="locatePosition()" class="fixedButton">My Location</ion-button>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Pregunta 1</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content> 
    <ion-grid>
      <ion-row class="ion-align-items-end">
        <ion-col>
          
            <ion-button fill="clear" class="buttons" size="small" [style.backgroundColor]="buttonColor" [style.color]="buttonTextColor"  (click)="presentToast() ">Answer 1</ion-button>
          
        </ion-col>
        <ion-col>
          
            <ion-button fill="clear" class="buttons" [style.backgroundColor]="buttonColor2" size="small" [style.color]="buttonTextColor2"  (click)="presentToast2()">Answer 2</ion-button>
          
        </ion-col>
        <ion-col>
          
            <ion-button fill="clear" class="buttons" [style.backgroundColor]="buttonColor3" size="small" [style.color]="buttonTextColor3"  (click)="presentModal()">Answer 3</ion-button>
          
        </ion-col>

      </ion-row>

    </ion-grid>
 
  </ion-card>

  <ion-card id="pregunta1" [hidden]="q2">
    <ion-card-header>
      <ion-card-subtitle>Pregunta 2</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content> 
    <ion-grid>
      <ion-row class="ion-align-items-end">
        <ion-col>
          
            <ion-button fill="clear" class="buttons" size="small" [style.backgroundColor]="buttonColor" [style.color]="buttonTextColor"  (click)="presentToast() ">Answer 1</ion-button>
          
        </ion-col>
        <ion-col>
          
            <ion-button fill="clear" class="buttons" [style.backgroundColor]="buttonColor2" size="small" [style.color]="buttonTextColor2"  (click)="presentToast2()">Answer 2</ion-button>
          
        </ion-col>
        <ion-col>
          
            <ion-button fill="clear" class="buttons" [style.backgroundColor]="buttonColor3" size="small" [style.color]="buttonTextColor3"  (click)="presentModal()">Answer 3</ion-button>
          
        </ion-col>

      </ion-row>

    </ion-grid>
 
  </ion-card>
  
</ion-content>