<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-badge color="success">{{correctAnswers}}</ion-badge>
  </ion-toolbar>

</ion-header>

<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>MENU</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item menu-close href="#/home" (click)="goToHome()">Home </ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>

<ion-content fullscreen>
  <div id="mapId">
  </div>
      <ion-button expand="block" shape="round" (click)="locatePosition()" class="fixedButton">My Location</ion-button>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Pregunta 1</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content> 
    <ion-grid>
      <ion-row class="ion-align-items-end">
        <ion-col> 
            <ion-button fill="clear" class="buttons" size="small" [style.backgroundColor]="buttonColor" [style.color]="buttonTextColor"  (click)="presentToast() ">Answer 1</ion-button>
        </ion-col>
        <ion-col> 
            <ion-button fill="clear" class="buttons" [style.backgroundColor]="buttonColor2" size="small" [style.color]="buttonTextColor2"  (click)="presentToast2()">Answer 2</ion-button> 
        </ion-col>
        <ion-col>    
            <ion-button fill="clear" class="buttons" [style.backgroundColor]="buttonColor3" size="small" [style.color]="buttonTextColor3"  (click)="presentModalMilitar()">Answer 3</ion-button>   
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card [hidden]="q2">
    <ion-card-header>
      <ion-card-subtitle>Pregunta 2</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content> 
    <ion-button fill="clear" class="buttons margin" name="checkButton" [style.backgroundColor]="buttonColor2" size="small" [style.color]="buttonTextColor2"  (click)="getSecondAnswer()">CHECK</ion-button>
    <ion-grid>
      <ion-row class="ion-align-items-end">
        <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
        <ion-reorder>
          <ion-item >
            <div name="item" class="sizeDiv">
              <ion-label>
                Answer 1 Keep close to Nature's heart
              </ion-label>
            </div>
          </ion-item>
        </ion-reorder>
        <ion-reorder>
          <ion-item>
            <div name="item" class="sizeDiv">
              <ion-label>
                Answer 2 Keep close to Nature's heart
              </ion-label>
            </div>
          </ion-item>
        </ion-reorder>
        <ion-reorder>
          <ion-item>
            <div name="item" class="sizeDiv">
              <ion-label>
                Answer 3 Keep close to Nature's heart
              </ion-label>
            </div>
          </ion-item>
        </ion-reorder>
        <ion-reorder>
          <ion-item>
            <div name="item" class="sizeDiv">
              <ion-label>
                Answer 4 Keep close to Nature's heart
              </ion-label>
            </div>
          </ion-item>
        </ion-reorder>
      </ion-reorder-group>

        <ion-col>
          <ion-button name="hidden" class="hidden" size="small" (click)="presentModalGabinete()">Next Question</ion-button>
        </ion-col>

        
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card [hidden]="q3">
    <ion-card-header>
      <ion-card-subtitle>Pregunta 3</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content> 
    <ion-grid>
      <ion-row class="ion-align-items-end">
        <ion-col>   
          <ion-input #myInput type="text" 
          [(ngModel)]="inputValue"></ion-input> 
            <ion-button class="buttons" size="small" (click)="inputValueToLable()">CHECK</ion-button>  
        </ion-col> 
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card [hidden]="q4">
    <ion-card-header>
      <ion-card-subtitle>Pregunta 4</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content> 
    <ion-grid>
      <ion-row class="ion-align-items-end">
        <ion-col> 
            <ion-button fill="clear" class="buttons" size="small" [style.backgroundColor]="buttonColor" [style.color]="buttonTextColor"  (click)="presentToast() ">Answer 1</ion-button>
        </ion-col>
        <ion-col> 
            <ion-button fill="clear" class="buttons" [style.backgroundColor]="buttonColor2" size="small" [style.color]="buttonTextColor2"  (click)="presentToast2()">Answer 2</ion-button> 
        </ion-col>
        <ion-col>    
            <ion-button fill="clear" class="buttons" [style.backgroundColor]="buttonColor3" size="small" [style.color]="buttonTextColor3"  (click)="presentModalST()">Answer 3</ion-button>   
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card [hidden]="q5">
    <ion-card-header>
      <ion-card-subtitle>Pregunta 5</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content> 
    <ion-grid>
      <ion-row class="ion-align-items-end">
        <ion-col> 
            <ion-button fill="clear" class="buttons" size="small" [style.backgroundColor]="buttonColor" [style.color]="buttonTextColor"  (click)="presentToast() ">Answer 1</ion-button>
        </ion-col>
        <ion-col> 
            <ion-button fill="clear" class="buttons" [style.backgroundColor]="buttonColor2" size="small" [style.color]="buttonTextColor2"  (click)="presentToast2()">Answer 2</ion-button> 
        </ion-col>
        <ion-col>    
            <ion-button fill="clear" class="buttons" [style.backgroundColor]="buttonColor3" size="small" [style.color]="buttonTextColor3"  (click)="presentModalMilitar()">Answer 3</ion-button>   
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card [hidden]="q6">
    <ion-card-header>
      <ion-card-subtitle>Pregunta 6</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content> 
    <ion-grid>
      <ion-row class="ion-align-items-end">
        <ion-col>   
          <ion-input #myInput type="text" 
          [(ngModel)]="inputValue2"></ion-input> 
            <ion-button class="buttons" size="small" (click)="inputValueToLable2()">CHECK</ion-button>  
        </ion-col> 
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card [hidden]="q7">
    <ion-card-header>
      <ion-card-subtitle>Pregunta 7</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content> 
    <ion-grid>
      <ion-row class="ion-align-items-end">
        <ion-col> 
            <ion-button fill="clear" class="buttons" size="small" [style.backgroundColor]="buttonColor" [style.color]="buttonTextColor"  (click)="presentToast() ">Answer 1</ion-button>
        </ion-col>
        <ion-col> 
            <ion-button fill="clear" class="buttons" [style.backgroundColor]="buttonColor2" size="small" [style.color]="buttonTextColor2"  (click)="presentToast2()">Answer 2</ion-button> 
        </ion-col>
        <ion-col>    
            <ion-button fill="clear" class="buttons" [style.backgroundColor]="buttonColor3" size="small" [style.color]="buttonTextColor3"  (click)="presentModalMata()">Answer 3</ion-button>   
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card [hidden]="q8">
    <ion-card-header>
      <ion-card-subtitle>Pregunta 8</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content> 
    <ion-grid>
      <ion-row class="ion-align-items-end">
        <ion-col> 
            <ion-button fill="clear" class="buttons" size="small" [style.backgroundColor]="buttonColor" [style.color]="buttonTextColor"  (click)="presentToast() ">Answer 1</ion-button>
        </ion-col>
        <ion-col> 
            <ion-button fill="clear" class="buttons" [style.backgroundColor]="buttonColor2" size="small" [style.color]="buttonTextColor2"  (click)="presentToast2()">Answer 2</ion-button> 
        </ion-col>
        <ion-col>    
            <ion-button fill="clear" class="buttons" [style.backgroundColor]="buttonColor3" size="small" [style.color]="buttonTextColor3"  (click)="presentModalPalacete()">Answer 3</ion-button>   
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card [hidden]="q9">
    <ion-card-header>
      <ion-card-subtitle>Pregunta 9</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content> 
    <ion-grid>
      <ion-row class="ion-align-items-end">
        <ion-col>   
          <ion-input #myInput type="text" 
          [(ngModel)]="inputValue3"></ion-input> 
            <ion-button class="buttons" size="small" (click)="inputValueToLable3()">CHECK</ion-button>  
        </ion-col> 
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card [hidden]="q10">
    <ion-card-header>
      <ion-card-subtitle>Pregunta 10</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content> 
    <ion-grid>
      <ion-row class="ion-align-items-end">
        <ion-col> 
            <ion-button fill="clear" class="buttons" size="small" [style.backgroundColor]="buttonColor" [style.color]="buttonTextColor"  (click)="presentToast() ">Answer 1</ion-button>
        </ion-col>
        <ion-col> 
            <ion-button fill="clear" class="buttons" [style.backgroundColor]="buttonColor2" size="small" [style.color]="buttonTextColor2"  (click)="presentToast2()">Answer 2</ion-button> 
        </ion-col>
        <ion-col>    
            <ion-button fill="clear" class="buttons" [style.backgroundColor]="buttonColor3" size="small" [style.color]="buttonTextColor3"  (click)="presentModalColon()">Answer 3</ion-button>   
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

    <ion-card [hidden]="q11">
    <ion-card-header>
      <ion-card-subtitle>Pregunta 11</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content> 
    <ion-grid>
      <ion-row class="ion-align-items-end">
        <ion-col>   
          <ion-input #myInput type="text" 
          [(ngModel)]="inputValue4"></ion-input> 
            <ion-button class="buttons" size="small" (click)="inputValueToLable4()">CHECK</ion-button>  
        </ion-col> 
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>