<ion-header>
  <ion-toolbar>
    <ion-title>GC Island Council</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="img-parent">
      <img class="img-background" src="../../assets/icon/cabildo.jpg"/>
    </div>
  
    <ion-card-content>
      <p>The International Style or internationalism is a major architectural style that was developed in the 1920s
      and 1930s and was closely related to modernism and modern architecture, becoming the dominant
      architectural style until the 1970s.</p>
    </ion-card-content>
  </ion-card>


</ion-content>
