<ion-header>
  <ion-toolbar>
    <ion-title>San Telmo park</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="img-parent">
      <img class="img-background" src="../../assets/icon/st.jpg"/>
    </div>
  
    <ion-card-content>
      <p>This park houses modernist kiosks, one of the modernist jewels that are still preserved in
      the Islands.</p>
      <p>Near here we can also find the first historical placement of the northern wall of the city and the first dock of Las Palmas de Gran
        Canaria.</p> 
    </ion-card-content>
  </ion-card>


</ion-content>
