<ion-header>
  <ion-toolbar>
    <ion-title>Palace Rodríguez Quegles</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="img-parent">
      <img class="img-background" src="../../assets/icon/palacete.jpg"/>
    </div>
    <ion-card-content>
      <p>The Rodríguez Quegles Palace was built in 1900 by Don Juan Rodríguez
        Quegles. This building is used for different events like cinema, music ...</p>
      <p>Don Domingo Rodríguez Quegles, promised his wife that he was going to
        build the "prettiest and most sumptuous" house in Las Palmas for live near to his
        mother, and built this sober eclectic building.</p>
      <p>About decoration Quegles brought the most exclusive materials in the world
        for the construction of this house as traveled to France where they brought the
        decorative lions and French workshops windows with floral and country logos, they
        also used elements of African and Cuban noble woods and
        it has Masonic elements in glassware and Egyptian inspired columns on the facade.</p>
    </ion-card-content>
  </ion-card>


</ion-content>
