
<ion-content fullscreen>
  <ion-title>
    <h1>HUNTER VISIT</h1>
  </ion-title>
  <!-- <ion-button  fill="clear" style="width : 78% ; height : 78%" class="centrado" (click)="goToMap()"></ion-button> -->
  <img button class="butt" (click)="goToMap()" src="../../assets/icon/start.png">
  
  <ion-button fill="clear" style="width : 70px ; height : 70px" class=" buttonbot" size="small" (click)="goToEng()"><img src="../../assets/icon/esppng.png"></ion-button>
  <ion-button fill="clear" style="width : 70px ; height : 70px" class="buttonbotleft buttonbot" size="small" (click)="goToEsp()"><img src="../../assets/icon/engpng.png"></ion-button>
</ion-content>