<ion-header>
</ion-header>

<ion-content>
  <ion-button  fill="clear" style="width : 78% ; height : 78%" class="centrado" (click)="goToMap()"><img src="../../assets/icon/start.png"></ion-button>
  <ion-button fill="clear" style="width : 70px ; height : 70px" class="ion-float-left" size="small" (click)="goToEng()"><img src="../../assets/icon/esppng.png"></ion-button>
  <ion-button fill="clear" style="width : 70px ; height : 70px" class="ion-float-right" size="small" (click)="goToEsp()"><img src="../../assets/icon/engpng.png"></ion-button>
</ion-content>