.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

ion-content{
  --background: url('../../assets/icon/fondo.jpg') 0 0/100% 100% no-repeat; 
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
  text-align: center; 
  font-weight: bold;

  }
.centrado{
  text-align: center;
  margin-left: 12%;
}

.butt{
  width : 50% ;
  height : 35%;
  position: absolute;
  top: 30%;
  left: 25%;
}

.buttonbot{

  position: absolute;
  top: 80%;
  
 
}
.buttonbotleft{

  left: 72%;
 
}