<ion-header>
  <ion-toolbar>
    <ion-title>Literary Cabinet</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="img-parent">
      <img class="img-background" src="../../assets/icon/gabinete.jpg"/>
    </div>
    <ion-card-content>
      The first theatre of Las Palmas was Caraisco Theatre, converted today into a MODERNIST building, called the
Gabinete Literario. It was inaugurated in 1843. Right now, It is a cultural institution whose objective is the creation
and diffusion of artistic manifestations and the management of cultural and social events. Two towers, crowned
by exotic domes, affirm the uniqueness of the building.The ornamentation of this facade is supported by
decorative surface pieces, specially inserted in the intermediate body. The current main facade is the result of a
project by architects Fernando Navarro and Rafael Massanet. 
    </ion-card-content>
  </ion-card>


</ion-content>
