<ion-header>
  <ion-toolbar>
    <ion-title>Gran Canaria military command</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="img-parent">
      <img class="img-background" src="../../assets/icon/militar.jpg"/>
    </div>
    <ion-card-content>
      Started its construction in 1881 and finished in 1888
    </ion-card-content>
  </ion-card>


</ion-content>
