<ion-header>
  <ion-toolbar>
    <ion-title>Mata castle</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="img-parent">
      <img class="img-background" src="../../assets/icon/mata.jpg"/>
    </div>
    <ion-card-content>
      <p>The original Mata Castle defense that was
        built in the last third of the 16th century. Its
        construction culminated in 1577, being
        reconstructed in 1599 after the first attack
        suffered by Van der Does. </p>
      <p>Currently it houses the Museum of the City
      and the Sea.</p>
      <p>In 1949 was declared Historic Artistic
        Monument.</p>
    </ion-card-content>
  </ion-card>


</ion-content>
