<ion-header>
  <ion-toolbar>
    <ion-title>Pérez Galdos Theater</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="img-parent">
      <img class="img-background" src="../../assets/icon/teatroperezgaldos.jpg"
        alt=""/>
    </div>
    <ion-card-content>
      <p>Pérez Galdós Theatre has been one of the most remarkable landmarks of our city and still is a meaningfull reference of the cultural life</p>
      <p>In 1888 it was inaugurated with the name of “New Theatre” , later the 6th of December of 1890 it opened its doors with a new name, Tirso de
        Molina Theatre. In 1918 the theatre suffered a fire and then it was rebuilt by two famous Canary artists, the brothers: the architect Miguel Martín
        Fernández de la Torre and Nestor, who decorated the interior of the building. Its facade has a neoclassical style. </p>
      <p>In the past, the Theatre smelt like fish because it was closed to a factory to dry fish. Furthermore, the most important international and national
        artists have performanced and played in it. Recently, we know it as Pérez Galdós Theatre, this name belongs to the most important writer in the
        Canary Islands and around the world. Currently the opera festival takes place in this theatre.</p>
    </ion-card-content>
  </ion-card>


</ion-content>
