<ion-header>
  <ion-toolbar>
    <ion-title>Santa Ana Cathedral</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="img-parent">
      <img class="img-background" src="../../assets/icon/antaAna.jpg"/>
    </div>
    <ion-card-content>
      <p>An afternoon of 1599, Pieter Van der Does attacked the city of Las Palmas igniting fire to many noble buildings. He even destroyed
        the Cathedral’s bells. In a hole we can find a bell given by the Dutch colony in 1999. This bell has only been used only as decoration</p>
      <p>This cathedral chorus was built by Mr. José Luján Pérez, an excellent sculptor and engineer. Firstly it was inside of the Cathedral, and
        now, it is outside the Cathedral because it was necessary to make more room for people who go to the Cathedral for praying. This
        relocatíon of the chorus was a desicion that didn´t share Mr. José Luján Pérez. The cathedral was built with blue stone from the San
        Lorenzo quarry</p>
      <p>The Bishop of Las Palmas Cathedral thought about placing a lamp in order to illuminate it, that travelled from Genoa (Italy) to Cadiz. It was
        installed on Saint Bartolomé’s day.
        In those moments, the statue of La Señora del Pino was in the Cathedral due to an epidemic plague spread out throughout the nation. Once
        the lamp was installed, it was sent back to San Mateo in order to avoid a possible attack by pirates.
        The lamp weight 20 silver arrobas and it cost 51.090 silver “reales”</p>
      <p>Diego Nicolás Eduardo decided to build the dome and he left instructions on how to do it. However and, to his surprise, when he
        returned, barely half of the dome was raised. The builder claimed that the arch was not going to support the weight and changed the
        plans.
        The builders didn’t trust the dome to stand firm, so Diego Nicolás Eduardo had to sit under the dome meanwhile they worked, in
        order to prove the cupola was well designed to not fall down.</p>
    </ion-card-content>
  </ion-card>


</ion-content>
