<ion-header>
  <ion-toolbar>
    <ion-title>Triana</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="img-parent">
      <img class="img-background" src="../../assets/icon/triana.jpg"/>
    </div>
  
    <ion-card-content>
      <p>The modernist style emerged at the beginning of the
      20th century and sought to innovate and project itself
      into the future.</p>
      <p>The buildings in the area consist of a ground floor,
      generally used as a commercial area, and two more
      floors that overlap it and are richly decorated. Some of
      the authors of these houses are Fernando Navarro and
      Laureano Arroyo.</p>
    </ion-card-content>
  </ion-card>


</ion-content>

